.contenido-modal{
  width:300px;
  padding: 10px 20px;
  border:1px black solid;
  position: fixed;
  left: 35%;
  top: 46%;
  justify-content: center;


}
#espacio-listado-alumnos{
  padding: 10px 20px;
  margin-left:20% ;
  top: 300px;
}

.tabla-estudiantes{
  width: 70%;
  height: 100%;
  font-size: 30px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  justify-content: center;

}

.tabla-estudiantes .titulo {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size:20px;
}

#mensaje{
color: red;

}


