.contenedor-tarjeta{
    width: 100%;
    display: flex;
    flex-direction:column;
    
    }
    .tarjeta-grupo{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(46, 114, 82, 0.527);
    }
    
    .tarjeta-grupo:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
    }
    
    .tabla-miembros{
    background-color: white;
    text-align: left;
    width: 100%;
    }
    .tabla-miembros td {
    border:solid 1px black;
    
    }
    
    
    