.main {
    font-family: 'Shippori Antique', sans-serif;
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0px 50px;
}
.main-title {
    font-size: 35px;
    align-self: center;
}
.main-section {
    display: flex;
    flex-direction: column;
}
.main-section-group {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-between; */
}
.main-clase-card {
    /* background-color: rgb(216, 192, 238); */
    border: 1px solid rgba(34, 34, 34, 0.5);
    height: 250px;
    width: 200px;
    padding: 10px;
    margin: 0px 25px 30px 25px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #222;
    box-shadow: 2px 2px 6px #999;

    transition: all .2s ease-in-out; 

}
.main-clase-card:hover {
    transform: scale(1.06);
}
.main-clase-card img {
    border-radius: 50%;
}